In [2]:
import pandas as pd

# Ler o arquivo CSV com os dados de chuva diária
dados = pd.read_excel('ilha bela.xlsx')

In [3]:
display(dados)

,Nome: SAO SEBASTIAO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Codigo Estacao: A767,NaN,NaN,NaN,NaN,NaN,NaN
1,Latitude: -23.81083333,NaN,NaN,NaN,NaN,NaN,NaN
2,Longitude: -45.4025,NaN,NaN,NaN,NaN,NaN,NaN
3,Altitude: 24,NaN,NaN,NaN,NaN,NaN,NaN
4,Situacao: Desativada,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1609,2022-03-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1610,2022-03-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1611,2022-03-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1612,2022-03-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1613,2022-03-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dados.head(15)

,Nome: SAO SEBASTIAO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Codigo Estacao: A767,NaN,NaN,NaN,NaN,NaN,NaN
1,Latitude: -23.81083333,NaN,NaN,NaN,NaN,NaN,NaN
2,Longitude: -45.4025,NaN,NaN,NaN,NaN,NaN,NaN
3,Altitude: 24,NaN,NaN,NaN,NaN,NaN,NaN
4,Situacao: Desativada,NaN,NaN,NaN,NaN,NaN,NaN
5,Data Inicial: 2017-10-24,NaN,NaN,NaN,NaN,NaN,NaN
6,Data Final: 2022-03-15,NaN,NaN,NaN,NaN,NaN,NaN
7,Periodicidade da Medicao: Diaria,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),"TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)","TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)","TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
10,2017-10-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-10-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
12,2017-10-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-10-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-10-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dados = dados.drop(index=range(0, 9), axis=0)
dados.head(15)

,Nome: SAO SEBASTIAO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
9,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),"TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)","TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)","TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
10,2017-10-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-10-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
12,2017-10-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-10-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-10-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
15,2017-10-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
16,2017-10-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
17,2017-10-31 00:00:00,10.8,1009.375,24.7,22.479167,21.5,5.395833
18,2017-11-01 00:00:00,0.8,1017.804167,24.7,21.345833,18.4,2.441667
19,2017-11-02 00:00:00,0.2,1019.7125,26.8,22.725,19.9,4.229167
20,2017-11-03 00:00:00,0,1014.383333,27,23.1625,20.5,6.129167
21,2017-11-04 00:00:00,0,1008.270833,31.2,24.004167,21.2,3.895833
22,2017-11-05 00:00:00,6.4,1011.933333,24.5,22.766667,21.7,4.7875
23,2017-11-06 00:00:00,0.6,1016.695833,23.9,21.616667,20.3,2.970833

In [6]:
novo_cabecalho = dados.loc[9]
dados = dados.set_axis(novo_cabecalho, axis=1)
dados.head(15)

9,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),"TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)","TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)","TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
9,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),"TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)","TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)","TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
10,2017-10-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-10-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
12,2017-10-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-10-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-10-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
15,2017-10-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
16,2017-10-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
17,2017-10-31 00:00:00,10.8,1009.375,24.7,22.479167,21.5,5.395833
18,2017-11-01 00:00:00,0.8,1017.804167,24.7,21.345833,18.4,2.441667
19,2017-11-02 00:00:00,0.2,1019.7125,26.8,22.725,19.9,4.229167
20,2017-11-03 00:00:00,0,1014.383333,27,23.1625,20.5,6.129167
21,2017-11-04 00:00:00,0,1008.270833,31.2,24.004167,21.2,3.895833
22,2017-11-05 00:00:00,6.4,1011.933333,24.5,22.766667,21.7,4.7875
23,2017-11-06 00:00:00,0.6,1016.695833,23.9,21.616667,20.3,2.970833

In [7]:
dados_VF = dados.drop(index=9, axis=0)
display(dados_VF)

9,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),"TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)","TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)","TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
10,2017-10-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-10-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
12,2017-10-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-10-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-10-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1609,2022-03-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1610,2022-03-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1611,2022-03-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1612,2022-03-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1613,2022-03-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
dados_VF = dados_VF.dropna()
display(dados_VF)

9,Data,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),"TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)","TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)","TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
17,2017-10-31 00:00:00,10.8,1009.375,24.7,22.479167,21.5,5.395833
18,2017-11-01 00:00:00,0.8,1017.804167,24.7,21.345833,18.4,2.441667
19,2017-11-02 00:00:00,0.2,1019.7125,26.8,22.725,19.9,4.229167
20,2017-11-03 00:00:00,0,1014.383333,27,23.1625,20.5,6.129167
21,2017-11-04 00:00:00,0,1008.270833,31.2,24.004167,21.2,3.895833
...,...,...,...,...,...,...,...
958,2020-05-29 00:00:00,0,1019.7125,24.7,19.979167,15.8,3.820833
959,2020-05-30 00:00:00,0,1016.9125,29.1,21.0375,15.5,2.358333
960,2020-05-31 00:00:00,0,1015.516667,27.8,20.991667,15.7,1.791667
961,2020-06-01 00:00:00,0,1014.3375,30.8,21.658333,15.6,1.966667
962,2020-06-02 00:00:00,0,1016.108333,23.8,20.658333,18.9,2.591667

In [16]:
dados_VF.iloc[:, 0] = pd.to_datetime(dados_VF.iloc[:, 0], format='%Y-%m-%d')

C:\Users\PEDRO\AppData\Local\Temp\ipykernel_9744\1029734882.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dados_VF.iloc[:, 0] = pd.to_datetime(dados_VF.iloc[:, 0], format='%Y-%m-%d')

In [19]:
dados_VF['dia'] = dados_VF.iloc[:, 0].dt.day
dados_VF['mes'] = dados_VF.iloc[:, 0].dt.month
dados_VF['ano'] = dados_VF.iloc[:, 0].dt.year

In [20]:
display(dados_VF)

9,Data,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),"TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)","TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)","TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)",dia,mes,ano
17,2017-10-31,10.8,1009.375,24.7,22.479167,21.5,5.395833,31,10,2017
18,2017-11-01,0.8,1017.804167,24.7,21.345833,18.4,2.441667,1,11,2017
19,2017-11-02,0.2,1019.7125,26.8,22.725,19.9,4.229167,2,11,2017
20,2017-11-03,0,1014.383333,27,23.1625,20.5,6.129167,3,11,2017
21,2017-11-04,0,1008.270833,31.2,24.004167,21.2,3.895833,4,11,2017
...,...,...,...,...,...,...,...,...,...,...
958,2020-05-29,0,1019.7125,24.7,19.979167,15.8,3.820833,29,5,2020
959,2020-05-30,0,1016.9125,29.1,21.0375,15.5,2.358333,30,5,2020
960,2020-05-31,0,1015.516667,27.8,20.991667,15.7,1.791667,31,5,2020
961,2020-06-01,0,1014.3375,30.8,21.658333,15.6,1.966667,1,6,2020
962,2020-06-02,0,1016.108333,23.8,20.658333,18.9,2.591667,2,6,2020

In [24]:
# Calcular a média diária de chuva para cada dia e mês
media_diaria_dia = dados_VF.groupby(['dia'])['PRECIPITACAO TOTAL, DIARIO (AUT)(mm)'].mean()
media_diaria_mes = dados_VF.groupby(['mes'])['PRECIPITACAO TOTAL, DIARIO (AUT)(mm)'].mean()

# Encontrar o dia e o mês com a menor média de chuva
dia_min_chuva = media_diaria_dia.idxmin()
mes_min_chuva = media_diaria_mes.idxmin()

print(f"O dia com menor média de chuva em 2024 é {dia_min_chuva} e o mês com menor média de chuva é {mes_min_chuva}")

O dia com menor média de chuva em 2024 é 25 e o mês com menor média de chuva é 8

In [26]:
print(media_diaria_mes)

mes
1      8.793548
2     11.954386
3      1.856522
4      2.389041
5      5.432609
6      2.012903
7      2.545161
8      1.693548
9      2.383333
10     4.097674
11     3.880000
12     2.674194
Name: PRECIPITACAO TOTAL, DIARIO (AUT)(mm), dtype: float64